.contact-page .heading {
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-page .heading h2 {
  font-size: 2.9rem;
}

.contact-page .heading a {
  text-decoration: none;
  color: #29f3c3;
}

@media screen and (max-width: 920px) {
  .contact-page .heading {
    padding: 25px 40px;
  }
  .contact-page .heading h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 480px) {
  .contact-page .heading {
    padding: 25px 20px;
  }
  .contact-page .heading h2 {
    font-size: 25px;
  }
}

.contact-page .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

@media screen and (max-width: 920px) {
  .contact-page .desc {
    padding-top: 30px;
  }
}

.contact-page .form {
  border: 3px solid #29f3c3;
  margin: 100px;
  padding: 100px;
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page .form .submit-btn {
  padding-top: 50px;
}

.contact-page .form .submit-btn input {
  background: #111111;
  color: white;
  padding: 10px 30px;
  border: 3px solid #29f3c3;
  font-family: "Lexend Deca", sans-serif;
}

.contact-page .form .first-half {
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-page .form .first-half .top {
  padding: 28px;
}

.contact-page .form .first-half input {
  background-color: #a5aeb7;
  border-width: 0;
  border-radius: 5px;
  padding: 10px;
}

.contact-page .form .msg {
  padding: 18px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-page .form .msg input {
  background-color: #a5aeb7;
  border-width: 0;
  border-radius: 5px;
  width: 600px;
  height: 50px;
  padding: 15px;
}

@media screen and (max-width: 920px) {
  .contact-page .form {
    margin-top: 40px;
    margin: 10px;
    padding: 20px 10px;
  }
  .contact-page .form .first-half {
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-page .form .first-half .top {
    padding: 30px 0px;
  }
  .contact-page .form .msg {
    padding: 30px;
  }
  .contact-page .form .msg input {
    background-color: #a5aeb7;
    border-width: 0;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
  }
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.email a {
  text-decoration: none;
  color: #29f3c3;
}
/*# sourceMappingURL=contact.css.map */